*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
header{
    background-color:rgb(225, 0, 225);
}
h1, h2{
    color: #5AF;
    text-align: center;
    padding: 10px;
}
header div{
    text-align:center;
}

.logo{
    border-radius: 50%;
    width: 120px;
}
ul{
    list-style-type: none;
}
.subtColor{
    color: #5AF;
}
p{
    color: black;
    text-align: justify;
    padding: 20px;
    line-height: 1.5;
}
.centrar{
    text-align: center;
}
.derecha{
    text-align: right;
}
.size{
    width: 500px;
    border-radius: 20px;
}

footer{
    padding: 20px;
    background: rgb(225, 0, 225);
   
}
footer h3{
    text-align: center;
    color:#ffffff;
}

/*Grid recetas*/

.Recetas{  display: grid;
    grid-template-columns: 1.1fr 1fr 0.9fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    padding: 10px;
    grid-auto-flow: column;
    grid-template-areas:
      "Receta1 Receta1 ImgRe1"
      "Receta2 Receta2 ImgRe2"
      "Receta3 Receta3 ImgRe3"
      "Receta4 Receta4 ImgRe4"
      "Receta5 Receta5 ImgRe5";
  }
  
  .Receta1 {
    background-color: white;
    color:#5AF;
    border-color: black;
    text-align: start; 
    grid-area: Receta1; }
  
  .Receta2 { 
    background-color: white;
    color:#5AF;
    border-color: black;
    text-align: start;
    grid-area: Receta2; }
  
  .Receta3 { 
    background-color: white;
    color:#5AF;
    border-color: black;
    text-align: start;
    grid-area: Receta3; }
  
  .Receta4 { 
    background-color: white;
    color:#5AF;
    border-color: black;
    text-align: start;
    grid-area: Receta4; }
  
  .Receta5 { 
    background-color: white;
    color:#5AF;
    border-color: black;
    text-align: start;
    grid-area: Receta5; }
  
  .ImgRe1 { grid-area: ImgRe1; }
  
  .ImgRe2 { grid-area: ImgRe2; }
  
  .ImgRe3 { grid-area: ImgRe3; }
  
  .ImgRe4 { grid-area: ImgRe4; }
  
  .ImgRe5 { grid-area: ImgRe5; }

/*Login*/

.form-login{
    width: 400px;
    height: 340px;
    background: rgb(203, 64, 203);
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 20px 30px;
}
.form-login h5{
    margin: 0%;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid white;
    font-size: 25px;
    color: #5AF;
}
.controls{
    width: 100%;
    border: 1px solid #000;
    margin-bottom: 15px;
    padding: 11px 10px;
    font-weight: bold;
}
.button{
    width: 100%;
    height: 30px;
    background: white;
    border: none;
    margin-bottom: 10px;
}
.form-login p{
    height: 40px;
    text-align: center;
}
.form-login a{
    color: white;
    text-decoration: none;
}
.form-login a:hover{
    text-decoration: underline;
}

/* Pagina Contacto*/

.form-contacto{
    width: 800px;
    height: 550px;
    background: rgb(203, 64, 203);
    margin: auto;
    margin-bottom: 70px;
    padding: 20px 30px;
}
.buttons{
    width: 50%;
    border: 1px solid #000;
    margin-bottom: 15px;
    padding: 11px 10px;
    font-weight: bold;
}

/* responsive grid recetas*/

@media screen and (max-width: 768px){
    .Recetas{   display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr;
        gap: 0px 0px;
        padding: 10px;
        grid-auto-flow: column;
        grid-template-areas:
          "Receta1" 
          "ImgRe1"
          "Receta2" 
          "ImgRe2"
          "Receta3" 
          "ImgRe3"
          "Receta4" 
          "ImgRe4"
          "Receta5" 
          "ImgRe5";
    }
}
/* responsive contacto*/
@media screen and (max-width: 768px){
    .form-contacto{
        width: 500px;
        height: 350px;
        background: rgb(203, 64, 203);
        margin: auto;
        margin-bottom: 70px;
        padding: 20px 30px;
    }
    .buttons{
        width: 50%;
        border: 1px solid #000;
        margin-bottom: 15px;
        padding: 11px 10px;
        font-weight: bold;
    }
}
